/* 1. exercice-1 */
.exercice-1 .container {
  display:flex;
  flex-direction:row;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
}

/* 2. exercice-2 */
.exercice-2 .container {
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction:column-reverse
}
/* 3. exercice-3 */
.exercice-3 .container {
  display:flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
}
.exercice-3 .element-blue {
  order: -1;
  align-self: flex-start;
}
/* 4. exercice-4 */
.exercice-4 .container {
  display:flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
}
 .exercice-4 .element-blue  {
  order: 4;
}
.exercice-4 .element-pink {
  align-self: flex-start;
}
/* 5. exercice-5 */
.exercice-5 .container {
  margin:auto;
  display:flex;
  justify-content:center;
  flex-flow:row wrap;
  align-content: center;
}
/* 6. exercice-6 */
.exercice-6 .container {
 display:flex;
 flex-direction:column-reverse;
 justify-content: center;
}
.exercice-6 .element-grey {
  
}
/* 7. exercice-7 */
.exercice-7 .container {
  display:flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
  align-items:center;
  justify-content: space-between;
}
.exercice-7 .element-green {
  order:-1 ;


}
/* 8. exercice-8 */
.exercice-8 .container {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.exercice-8 .element-pink {
  order:3;
  align-items: stretch;

}
/* 9. exercice-9 */
.exercice-9 .container {
  display: flex;
  align-items:baseline;
  flex-wrap: wrap;
}
.exercice-9 .element-red {
  height: 20px;
  
}
/* 10. exercice-10 */
.exercice-10 .container {
  display:flex;
  align-items: center;
  justify-content: center;
}

